.Contact-dec {
    text-align: justify;
    font-size: 18px;
}

.Contact-dec span {
    text-align: justify;
    font-size: 18px;
    cursor: pointer;
}

.Contact_us {
    margin: 105px;
}

.Contact-dec .heading {
    color: blue;
}